@model WebApp.ViewModel.WorkerShiftsViewModel

<table class="table table-condensed" id="shiftTable">
    <thead>
    <tr>
        <th>#</th>
        <th>Объект</th>
        <th>Список рабочих</th>
        <th>Дата</th>
        <th>
            <button type="button" class="btn btn-info" id="addNewShiftBtn">Добавить</button>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Shifts.Select((shift, index) => new {index, shift}))
    {
        <tr shiftid="@item.shift.ShiftId">
            <td>@(item.index + 1)</td>
            <td class="workerObject" worlerobjectid="@item.shift.WorkerObject.WorkerObjectId">@item.shift.WorkerObject.Address</td>
            <td class="workers">
                @string.Join(",  ", item.shift.ShiftWorkers.Select(w => w.WorkerName))
                <input type="hidden" class="workersVals" value='@string.Join(",", item.shift.ShiftWorkers.Select(w => $"{ w.WorkerId}"))'/>
            </td>
            <td class="shiftDate">@item.shift.ShiftDate.ToShortDateString()</td>
            <td>
                <button type="button" class="btn btn-info editShift">Редактировать</button>
                <button type="button" class="btn btn-danger deleteShift">Удалить</button>
            </td>
        </tr>
    }
    </tbody>
    <tfoot style="display: none">
    <tr>
        <td><input type="hidden" id="shiftIdValue"/></td>
        <td>
            <select class="selectpicker" id="workerObjectSelect">
                @foreach (var item in Model.WorkerObjects.Select(wo => new { Id = wo.WorkerObjectId, Addess = wo.Address }))
                {
                    <option value="@item.Id">@item.Addess</option>
                }
            </select>

        </td>
        <td>
            <select class="selectpicker" id="workersSelect" multiple>
                @foreach (var item in Model.Workers.Select(w => new { Id = w.WorkerId, WorkerName = w.WorkerName }))
                {
                    <option value="@item.Id">@item.WorkerName</option>
                }
            </select>

        </td>
        <td>
            <div class="col-xs-10 left">
                <div class="input-group date" id="shiftDateEdit">
                    <input type="text" class="form-control" placeholder="Дата..."/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </td>
        <td>
            <button type="button" class="btn btn-success" id="updateBtn">Сохранить</button>
            <button type="button" class="btn btn-default" id="cancelUpdateBtn">Отменить</button>
        </td>
    </tr>
    </tfoot>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#shiftDateEdit').datetimepicker({
                locale: 'ru',
                format: 'DD.MM.YYYY'
            });
        });
    });

    $(".dropdown-menu li a").click(function () {
        var selText = this.text;
        $(this).parents('.dropdown').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
    });

    $("#shiftTable tbody .deleteShift").click(function () {
        var shiftId = $(this).closest('tr').attr("shiftid");
        $.ajax({
            type: "POST",
            data: { 'shiftId': shiftId },
            url: '@Url.Action("DeleteShift", "Worker")',
            success: function (msg) {
                if (msg.Status !== 'OK') {
                    alert(msg.Message);
                    return;
                }
                shiftsRefrash();
            }
        });
    });
    $("#shiftTable tbody .editShift").click(function () {
        ClearShiftEdit();
        var shiftIdValues = $(this).closest('tr').find(".workersVals").val().split(',');
        $("#shiftIdValue").val($(this).closest('tr').attr("shiftid"));
        $('#workerObjectSelect').val($(this).closest('tr').find(".workerObject").attr("worlerobjectid"));
        $('#workerObjectSelect').selectpicker('refresh');
        $("#workersSelect option").each(function () {
            var match = false;
            var optionValue = $(this).val();
            $.each(shiftIdValues, function(index,item) {
                if (item === optionValue) { match = true;}
            });
            if (match)
                $(this).prop('selected', true);
        });
        $("#workersSelect").selectpicker('refresh');
        $("#shiftDateEdit input").val($(this).closest('tr').find(".shiftDate").text());
        $("#shiftTable tfoot").show();
    });
    $("#addNewShiftBtn").click(function() {
        $("#shiftTable tfoot").show();
    });
    var selectedWorkerObject = $.map($(this).find("option:selected"), function (o) { return $(o).val(); });
    $('#workerObjectSelect').on('changed.bs.select', function (e, clickedIndex, newValue, oldValue) {
        selectedWorkerObject = $.map($(this).find("option:selected"), function (o) { return $(o).val(); });
    });
    var selectedWorkers = [];
    $('#workersSelect').on('changed.bs.select', function (e, clickedIndex, newValue, oldValue) {
        selectedWorkers = $.map($(this).find("option:selected"), function (o) { return $(o).val();});
    });

    $("#updateBtn").click(function () {
        $('#workerObjectSelect').trigger('changed.bs.select');
        $('#workersSelect').trigger('changed.bs.select');
        var shift = {
            WorkerObjectId: selectedWorkerObject[0],
            Workers:  selectedWorkers,
            ShiftDate: $("#shiftDateEdit input").val()
        };
        if ($("#shiftIdValue").val()) {
            shift.ShiftId = $("#shiftIdValue").val();
        }

        $.ajax({
            type: "POST",
            data: { 'shiftId': shift.ShiftId, 'workerObjectId': shift.WorkerObjectId, 'workers': shift.Workers, 'shiftDate': shift.ShiftDate },
            url: '@Url.Action("UpdateShift", "Worker")',
            success: function (msg) {
                if (msg.Status !== 'OK') {
                    alert(msg.Message);
                    return;
                }
                $("#shiftTable tfoot").hide();
                shiftsRefrash();
            },
            error: function (xhr) {
                alert('Error during process: \n' + xhr.responseText);
            }
        });


    });
    $("#cancelUpdateBtn").click(function () {
        ClearShiftEdit();
        $("#shiftTable tfoot").hide();
    });
    function ClearShiftEdit() {
        $('#workerObjectSelect').val(1);
        $('#workerObjectSelect').selectpicker('refresh');
        $("#workersSelect option").each(function() {
            $(this).prop('selected', false);
        });
        $("#workersSelect").selectpicker('refresh');
        $("#shiftDateEdit input").val("");
        $("#shiftIdValue").val("");
    }

    function shiftsRefrash() {
        $.ajax({
            type: "Get",
            url: '@Url.Action("WorkerShiftsPartial", "Worker")',
            success: function (res) {
                $("#shifts").html(res);
                ClearShiftEdit();
            },
            error: function (xhr) {
                alert('Error during process: \n' + xhr.responseText);
            }
        });

    }
</script>